
.Results{
    text-align: left;
    padding-top:8px;
    padding-left:10px;
    line-height:1.8;
}
.audio{
    width:7%;
}
ul{
    list-style:none;
    
}
li{
    display:inline-block;
    margin-right:5px;
    
}
.phonetic{
    margin-left:10px;
}
.Search{
    background-color: aliceblue;
    margin-left:20px;
}
h1{
    padding-bottom:10px;
    padding-top:10px;
    }

body{
    background: rgb(141, 224, 252);
}
.searchEngine{
    width:450px;
    height:40px;
    margin-right:10px;
}
.button{
    height:40px;
    width:100px;
}
.Photos{
    padding-bottom:10px;
    border-radius:5px;
}